<div fxLayout = "row wrap">

    <mat-card fxLayout="column" class="mat-elevation-z2 card" style="margin: 20px; padding:0px; padding-bottom: 20px; "  fxFlex.lt-lg = "93" fxFlex="25">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center" class="header-card">
            <mat-card-title><strong>ASSIGNATURES</strong></mat-card-title>
        </mat-card-header>
        
        <!-- <mat-progress-bar mode="query"></mat-progress-bar> -->

        <mat-card-content fxLayout="column" style="margin-top: 20px; padding: 0px 20px 0px 20px;">
        
        </mat-card-content>
    </mat-card>

    <mat-card fxLayout="column" class="mat-elevation-z2 card" style="margin: 20px; padding:0px; padding-bottom: 20px; " fxFlex.lt-lg = "93"fxFlex="68">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center" class="header-card">
            <mat-card-title><strong>ACTIVITATS</strong></mat-card-title>
        </mat-card-header>
        
        <!-- <mat-progress-bar mode="query"></mat-progress-bar> -->

        <mat-card-content fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px; padding: 0px 20px 0px 20px;">
            <mat-icon style="font-size: 120px; height: 128px; width:128px; opacity: 0.3;" aria-hidden="false" aria-label="Fletxa" fontIcon="menu_book"> </mat-icon>
        </mat-card-content>

    </mat-card>

</div>