
.cercle {
    width:          16px;
    height:         16px;
    border-radius:  50%;
    background:     #909090;
    display:        flex;
    justify-content: center;
    align-items:    center;
    text-align:     center;
    margin:         0px 2px 0px 2px;
    padding:        2px;
    color:          white !important;
    font-size:      12px;

}

.cercle2 {
    width:          16px;
    height:         16px;
    border-radius:  50%;
    background:     #ffaa8b;
    display:        flex;
    justify-content: center;
    align-items:    center;
    text-align:     center;
    margin:         0px 2px 0px 2px;
    padding:        2px;
    color:          white !important;
    font-size:      12px;
}
