.menu-icon {
    padding-bottom: 2px;
}

.mat-button-wrapper{
    padding: 0px !important;
}

.menu-content {
    color:          white !important;
}

.espai-titol {
    margin-left:    16px !important;
}

.page-title {
    margin:         0px;
    line-height:    100%;
    color:          white !important;
    font-size:      22px;
    font-weight: 300;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}