<div fxLayout="row wrap" style="margin: 24px 0px 24px 0px;"  fxLayoutAlign="space-evenly center">
    <button class="botons-principals" [class.actual] = "paginaActual === 'inici'"          [routerLink]="['/inici']" mat-flat-button>INICI</button>
    <button class="botons-principals" [class.actual] = "paginaActual === 'seguiment'"      [routerLink]="['/seguiment']" mat-flat-button>SEGUIMENT</button>
    <button class="botons-principals" [class.actual] = "paginaActual === 'planificacio'"   [routerLink]="['/planificacio']" mat-flat-button>PLANIFICACIÓ</button>
    <button class="botons-principals" [class.actual] = "paginaActual === 'projectes'"      [routerLink]="['/projectes']" mat-flat-button>PROJECTES</button>
    <button class="botons-principals" [class.actual] = "paginaActual === 'planificacio'"   [routerLink]="['/planificacio']" mat-flat-button>PLANIFICACIÓ</button>

</div>
  